.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #282c34;
  }
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .joinChatContainer input, .joinChatContainer button {
    padding: 10px;
    font-size: 16px;
  }
  